<section class="section booking-modal">
  <div class="container">
    <div class="booking-modal-window">
      <button
        class="booking-modal-close-btn"
        type="button"
        aria-label="Закрити модальне вікно"
      >
        <svg
          class="booking-modal-close-icon"
          width="14"
          height="14"
          aria-hidden="true"
        >
          <use href="./img/sprite.svg#icon-close"></use>
        </svg>
      </button>

      <h2 class="booking-modal-title">Замовити івент</h2>

      <form class="booking-modal-form">
        <label class="booking-modal-field">
          <span class="booking-modal-field-label">Ім'я*</span>
          <input
            class="booking-modal-input"
            type="text"
            name="name"
            placeholder="Ваше ім'я"
            autocomplete="name"
          />
          <span class="booking-modal-error" id="nameError"></span>
        </label>

        <label class="booking-modal-field">
          <span class="booking-modal-field-label">Телефон*</span>
          <input
            class="booking-modal-input"
            type="tel"
            name="phone"
            placeholder="38 099 901 11 22"
            autocomplete="tel"
          />
          <span class="booking-modal-error" id="phoneError"></span>
        </label>

        <label class="booking-modal-field">
          <span class="booking-modal-field-label">Коментар*</span>
          <textarea
            class="booking-modal-textarea"
            name="comment"
            placeholder="Напишіть ваш коментар"
          ></textarea>
          <span class="booking-modal-error" id="commentError"></span>
        </label>
        <div class="loader-booking is-hidden"></div>
        <button class="booking-modal-submit-btn" type="submit">
          <span class="booking-modal-submit-text">Надіслати заявку</span>
        </button>
      </form>
    </div>
  </div>
</section>
