<section class="section feedback" id="feedback">
  <div class="container">
    <h2 class="feedback-title section-title">Відгуки клієнтів</h2>

    <div class="feedback-slider-wrapper">
      <div class="feedback-swiper swiper">
        <ul class="js-feedback-list feedback-list swiper-wrapper"></ul>
      </div>

      <div class="feedback-pagination-wrapper">
        <div class="feedback-pagination swiper-pagination"></div>
      </div>

      <div class="feedback-controls">
        <div class="feedback-buttons">
          <button
            class="feedback-button feedback-prev swiper-button-prev"
            aria-label="Попередній відгук"
          >
            <svg class="feedback-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-left"></use>
            </svg>
          </button>
          <button
            class="feedback-button feedback-next swiper-button-next"
            aria-label="Наступний відгук"
          >
            <svg class="feedback-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-right"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
