<section class="section feedback" id="feedback">
  <div class="container">
    <h2 class="feedback-title section-title">Відгуки клієнтів</h2>

    <div class="feedback-swiper swiper">
      <ul class="feedback-list swiper-wrapper">
        <li class="feedback-item swiper-slide">
          <div class="feedback-content">
            <ul class="feedback-raiting">
              <li class="feedback-star">1,0</li>
              <li class="feedback-star">1,0</li>
              <li class="feedback-star">1,0</li>
              <li class="feedback-star">1,0</li>
              <li class="feedback-star">1,0</li>
            </ul>
            <p class="feedback-text">
              Все було на найвищому рівні! Команда 'Файно Свято' організувала
              незабутній корпоратив. Професіоналізм, креативність та увага до
              деталей вражають. Рекомендую!
            </p>
          </div>
          <div class="feedback-avatar">
            <p class="feedback-author">Олег П.</p>
            <p class="feedback-date">2025-06-20</p>
          </div>
        </li>

        <li class="feedback-item swiper-slide">
          <div class="feedback-content">
            <ul class="feedback-raiting">
              <li class="feedback-star">1,0</li>
              <li class="feedback-star">1,0</li>
              <li class="feedback-star">1,0</li>
              <li class="feedback-star">1,0</li>
              <li class="feedback-star">1,0</li>
            </ul>
            <p class="feedback-text">
              Наше весілля було казковим завдяки вам! Все пройшло бездоганно,
              від декору до координації. Ви перевершили всі наші очікування.
              Дякуємо!
            </p>
          </div>
          <div class="feedback-avatar">
            <p class="feedback-author">Ірина та Андрій</p>
            <p class="feedback-date">2025-05-15</p>
          </div>
        </li>

        <li class="feedback-item swiper-slide">
          <div class="feedback-content">
            <ul class="feedback-raiting">
              <li class="feedback-star">1,0</li>
              <li class="feedback-star">1,0</li>
              <li class="feedback-star">1,0</li>
              <li class="feedback-star">1,0</li>
              <li class="feedback-star">0,5</li>
            </ul>
            <p class="feedback-text">
              "Організовували дитячий день народження. Аніматори були чудові,
              діти в захваті! Все продумано до дрібниць. Невеличкий мінус за
              затримку на початку.
            </p>
          </div>
          <div class="feedback-avatar">
            <p class="feedback-author">Катерина В.</p>
            <p class="feedback-date">2025-04-30</p>
          </div>
        </li>
      </ul>
      <div class="feedback-pagination swiper-pagination"></div>

      <button class="feedback-button feedback-prev swiper-button-prev">
        <svg class="feedback-icon" width="24" height="24">
          <use href="./img/sprite.svg#icon-left"></use>
        </svg>
      </button>
      <button class="feedback-button feedback-next swiper-button-next">
        <svg class="feedback-icon" width="24" height="24">
          <use href="./img/sprite.svg#icon-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
