<section class="section hero" id="hero">
  <div class="container">
    <h1 class="hero-title">
      Ваше<br class="mobile-break" />
      ідеальне<br class="mobile-break" />
      свято — <br class="tablet-break" />наша турбота
    </h1>
    <p class="hero-text">
      Від дитячого дня народження до великого корпоративу.
      <br class="mobile-break" />Організуємо подію, яку ви запам'ятаєте
      назавжди.
    </p>
    <a href="#event-list" class="hero-link-events">Обрати івент</a>

    <picture>
      <source
        media="(min-width: 1440px)"
        srcset="
          /img/avif/Hero_Desktop@1x.avif 1x,
          /img/avif/Hero_Desktop@2x.avif 2x
        "
        width="1312"
        height="738"
      />

      <source
        media="(min-width: 768px)"
        srcset="
          /img/avif/Hero_Tablet@1x.avif 1x,
          /img/avif/Hero_Tablet@2x.avif 2x
        "
        width="704"
        height="396"
      />

      <img
        srcset="
          /img/avif/Hero_Mobile@1x.avif 1x,
          /img/avif/Hero_Mobile@2x.avif 2x
        "
        src="/img/avif/Hero_Mobile@1x.avif"
        alt="An emotional, wide-format photograph of a stylish celebration on a summer terrace at sunset. A group of elegantly dressed, happy, diverse people, aged 25-45, are genuinely laughing and casually interacting, holding glasses with drinks. Warm, golden light creates soft highlights, with blurred string lights in the background creating a beautiful bokeh effect. The atmosphere is sophisticated, warm, and filled with genuine joy. The image should be cinematic, highly detailed, with natural and vibrant colors."
        width="335"
        height="254"
      />
    </picture>
  </div>
</section>
