<section class="section popular-events" id="popular-events">
  <div class="container">
    <h2 class="section-title">Популярні свята</h2>

    <div class="swiper popular-swiper">
      <ul class="swiper-wrapper popular-list"></ul>
    </div>

    <div class="popular-controls">
      <div class="popular-pagination"></div>

      <div class="popular-buttons">
        <button
          class="popular-button popular-button-prev"
          type="button"
          aria-label="Попередній слайд"
        >
          <svg class="popular-button-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-left"></use>
          </svg>
        </button>

        <button
          class="popular-button popular-button-next"
          type="button"
          aria-label="Наступний слайд"
        >
          <svg class="popular-button-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
