:root {
  --main-font-family: 'Open Sans', sans-serif;
  --second-font-family: 'Public Sans', sans-serif;
  --third-font-family: 'IBM Plex Sans', sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: var(--main-font-family); /* Open Sans */
  color: #000;
  background-color: #fffaed;
}

h2 {
  font-weight: 500;
  font-size: 60px;
  line-height: 1.2;
  letter-spacing: 0.01em;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}
