.section.feedback {
  overflow: hidden;
  background: #fffaed;
  --swiper-theme-color: #000000;
  --swiper-pagination-color: #000000;
}

.feedback-title {
  font-family: var(--second-font-family);
}

.feedback-slider-wrapper {
  position: relative;
}

.feedback-swiper,
.feedback-list.swiper-wrapper {
  z-index: 0 !important;
}

.feedback-swiper.swiper {
  margin-bottom: 16px;
}

.feedback-list {
  display: flex;
  flex-direction: row;
}

.feedback-item,
.feedback-item.swiper-slide {
  display: flex;
  flex-direction: column;
  gap: 24px;

  justify-content: space-between;
  height: auto;

  border-radius: 8px;
  padding: 32px;

  background: #fff6dc;
}

.feedback-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
}

.feedback-raiting.rating{
  margin: 0px;
}

.feedback-raiting .star-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 4px;
  margin: 0px;
}

.feedback-raiting .star {
  width: 24px;
  height: 24px;
}

.feedback-raiting .star-icon {
  width: 17px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: auto;
  left: auto;
  fill: #000 !important;
}

.feedback-text {
  font-size: 20px;
  line-height: 1.6;
}

.feedback-avatar {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0px;
}

.feedback-author {
  font-family: var(--main-font-family);
  font-weight: 600;
  font-size: 18px;

  line-height: 1.6;
}

.feedback-date {
  line-height: 1.6;
}

/* pagination */

.feedback-pagination-wrapper {
  height: 28px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* buttons */

.feedback-buttons {
  position: absolute;
  top: 38%;
  left: 0;
  right: 0;
}

.feedback-button {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;

  border: 1px solid #fff;
  border-radius: 4px;
  padding: 12px;
  width: 48px;
  height: 48px;

  background: #f2f2f2;
}

.feedback-prev {
  left: -28px;
}
.feedback-next {
  right: -28px;
}

.feedback-icon {
  width: 16px;
  height: 16px;
}
