.feedback-title {
  font-family: var(--second-font-family);
}

.feedback-swiper.swiper {
  --swiper-theme-color: #000000;
}

.feedback-list {
  display: flex;
  flex-direction: row;

  margin-bottom: 16px;
}

.feedback-item,
.feedback-item.swiper-slide {
  display: flex;
  flex-direction: column;
  gap: 24px;

  justify-content: space-between;
  height: auto;

  border-radius: 8px;
  padding: 32px;

  background: #fff6dc;
}

.feedback-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
}

.feedback-raiting {
  /* todo: for demo. update when add js lib */
  display: flex;
  gap: 4px;
}

.feedback-text {
  font-size: 20px;
  line-height: 1.6;
}

.feedback-avatar {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0px;
}

.feedback-author {
  font-family: var(--main-font-family);
  font-weight: 600;
  font-size: 18px;

  line-height: 1.6;
}

.feedback-date {
  line-height: 1.6;
}

/* pagination */

.feedback-pagination.swiper-pagination {
  position: static;
}


.feedback-icon {
  width: 16px;
  height: 16px;
}
