.tablet-break {
  display: none;
}

.hero-title {
  margin-bottom: 24px;
  font-family: var(--second-font-family);
  font-weight: 500;
  font-size: 48px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  color: #000;
  @media screen and (min-width: 768px) {
    width: 704px;
    .mobile-break {
      display: none;
    }
    .tablet-break {
      display: inline;
    }
  }
  @media screen and (min-width: 1440px) {
    width: 809px;
    font-size: 72px;
  }
}
.hero-text {
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  color: #000;
  @media screen and (min-width: 768px) {
    .mobile-break {
      display: none;
    }
    width: 467px;
  }
  @media screen and (min-width: 1440px) {
    width: 640px;
  }
}
.hero-link-events {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 2px solid #ffd554;
  border-radius: 6px;
  max-width: 335px;
  height: 45px;
  line-height: 1.6;
  color: #000;
  background-color: #ffd554;
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 18px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: #fff;
  }
  @media screen and (min-width: 768px) {
    max-width: 153px;
  }
  @media screen and (min-width: 1440px) {
    margin-bottom: 80px;
  }
}
