
/* Styles for Mobile devices */
.section {
    padding: 64px 0;
    /* outline: 1px solid green; */
}

.section-title {
    margin-bottom: 32px;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
    .section {
    padding: 92px 0;
    }
    .section-title {
    margin-bottom: 40px;
    }

}



/* .section-title {
    margin-bottom: 24px;

    font-family: var(--font-family-second);
    font-weight: 700;
    font-size: 48px;
    line-height: 1.1;
    text-align: center;
} */